.contatiner{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;  
    /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);  */
}

.list-item {
    padding: 2%;
    margin-bottom: .6rem; /* Apply margin between ite background-ms */
 
}
