.header-grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
} */

.footer-grid {
    display: flex;
    flex-direction: column;
}

.custom_scroll {
    max-height: 60vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}


.flex-item1 {
    flex: 1;
    text-align: left;
    margin: 1rem;
    /* font-size: x-large;
    font-weight: 900; */
}

.flex-item2 {
    flex: 1;
    text-align: right;
    margin: 1rem;
    /* font-size: x-large;
    font-weight: 900; */
}

.search-grid .search-text-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.search-grid-properties {
    margin: 1rem;
    /* color: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */

}

.inputText {
    width: 100%;
    border-radius: 16px;
    margin: .3rem .5rem;
    /* border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; */
    padding: .5rem;
    padding-left: 2rem !important;

    background-image: url(../../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    /* box-shadow: rgba(224, 227, 229, 0.2) 0px 8px 24px; */

}

.card_img {
    height: 22vh;
    width: 100%;
    padding: .5rem;
    align-items: center;
    border-radius: 15px;
}

/* :host { */
    /* .p-card {
        justify-content: center;
        width: 95vw;
        margin: .5rem;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    } */

    .p-card-title {
        /* padding-top: .5rem; */
        font-size: medium;
        font-weight: 900;
        margin: .5rem;
        margin-bottom: .2rem;

    }

    .p-card-subtitle::before {
        /* content: "Prize: "; */
        content: "₹";
        /* margin: .5rem; */
    }

    .p-card-subtitle {
        font-size: small;
        font-weight: 700;
        margin-left: .5rem;
        margin-bottom: .2rem;
        /* margin: .5rem; */
        /* margin-top: 0 !important; */

    }

    .item_content {
        margin: .5rem;
        font-size: smaller;
        font-weight: 400;
        opacity: .8;
        text-overflow: clip;
        /* text-wrap: wrap; */
    }

    .additem_btn {
        justify-content: end;
        padding: .5rem;
    }

    .primary_btn {

        width: 25vw;
        height: 4vh;
        border: 0;
        border-radius: 10px;

        /* width: 6rem;
        height: 2rem;
        border: 0;
        border-radius: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

    }


    .qty_plus {
        width: 2rem;
        border: 0;
        border-radius: 5px;
        font-weight: 700;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

    .qty_minus {
        width: 2rem;
        border: 0;
        border-radius: 5px;
        align-items: center;
        font-weight: 700;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

    .input_qty {
        width: 2rem;
        height: 1.5rem;
        margin-left: .1rem;
        margin-right: .1rem;
        flex: 1;
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        /* position: sticky;
        z-index: 2000;
        top:0 */
    }

    .p-button-success:disabled {
        background-color: #ccc;
        /* Light grey background */
        color: #666;
        /* Dark grey text */
        cursor: not-allowed;
        /* Show a "not-allowed" cursor */
        opacity: 0.7;
        /* Slight transparency */
        border: 1px solid #999;
        /* Darker border */
    }

/* } */

/* .p-button-success {
    border: 0;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    width: 80vw;
    height: 80%;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    font-weight: 500;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1000;
} */

.p-button-success {
    border: 0;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    width: 100%;
    /* height: 80%; */
    /* margin: 1rem; */
    padding: .8rem;

    /* border-radius: 10px; */
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 1000;

}


.search-catogory {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    margin: 5px;
    border-radius: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.category-btn {
    margin: 5px;
    padding: .3rem .5rem;
    border: 1px solid black;
    border-radius: 15px;
    font-size: small;
    font-weight: 500;
    background: none;
}

.category-btn:hover {
    /* background: black; */
    border:none;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: black;
}

.offer-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}
.offer-item p{
    margin: 1px;
}

.offer-item {

    display: inline-block; 
    white-space: nowrap;   
    min-width: max-content;
    padding: .6rem;
    
    background: grey;
    margin: .3rem .1rem;
    border-radius: 6px;
}

.offer-btn{
    display: flex;
    place-self: center;
    border: none;
    border-radius: 8px;
}

.offer-btn:hover{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: black;
}

.offer{
    display: flex;
    flex-direction:row
}
.offer p{
    margin: 0;
    padding: 0rem 0.3rem 0rem 0rem;
    font-weight: 500;
    color: rgb(156, 62, 31);
}

.offer img{
    height: 18px;
    width: 30px;
    padding: 0rem 0.3rem 0rem .3rem;
    text-align: center;
    place-self: center;

}

.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}