<div class="header-grid">
  <div class="flex">
    <h3 class="flex-item1" style="margin-left: .5rem; margin-top: .2rem;"><i class="bi bi-chevron-left "></i></h3>
  </div>
</div>

<div id="invoice">
  <div class="invoiceHeading">
    <p class="titel_invoice">Invoice</p>
    <p class="restro_name">{{products.restroName}}</p>
  </div>
  <div class="invoice_flex">
    <div class="customer_Detail">
      <p-card [style]="{'margin-bottom':0 , 'padding':'.2rem'}">
        <p class="cust_details">OrderId:{{products.orderId |  slice:0:7}}</p>
        <p class="cust_details">Name:{{products.customerName}}</p>
        <p class="cust_details">Mobile:{{products.customerMobileNo}}</p>
      </p-card>
    </div>
    <div class="date">
      <p-card [style]="{'margin-bottom':0 , 'padding':'.2rem'}">
        <p class="cust_details">Date:{{products.orderAt |  date:'dd/MMM/yy hh:mm:a'}}</p>
        <p class="cust_details">Table:{{products.tableOrder.tableName}}</p>
      </p-card>
    </div>
  </div>

  <p-card class="orderDetailsCard">
    <p-table [value]="products">
      <ng-template pTemplate="header">
        <tr>
          <!-- <th scope="col" class="table_heading">Sr.</th> -->
          <th scope="col" class="table_heading">Item Name</th>
          <th scope="col" class="table_heading">Qty</th>
          <th scope="col" class="table_heading">Amount</th>
          <th scope="col" class="table_heading">Total</th>
        </tr>
        <tr *ngFor="let item of products?.orderDetails">
          <!-- <td  class="table_value">1</td> -->
          <td class="table_value">{{item.itemName}}</td>
          <td class="table_value">{{item.quntity}}</td>
          <td class="table_value amount">{{item.amount}}</td>
          <td class="table_value amount">{{item.amount*item.quntity}}</td>
        </tr>
   
      </ng-template>
      <!-- <ng-template pTemplate="body" let-product> -->

      <!-- </ng-template> -->
    </p-table>
  </p-card>

  <p-card>
    <div class="billing-card">
      <div class="flex bill_section">
        <p class="flex-item1 bill_content">Order Value:</p>
        <p class="flex-item2 bill_content amountSuffix">{{totalAmount()}}</p>
      </div>
      <div class="flex bill_section">
        <p class="flex-item1 bill_content">GST</p>
        <p class="flex-item2 bill_content amountSuffix">{{products.gst}}</p>
      </div>
      <div class="flex bill_section">
        <p class="flex-item1 bill_content">SGST</p>
        <p class="flex-item2 bill_content amountSuffix">{{products.sgst}}</p>
      </div>
      <div class="flex bill_section">
        <p class="flex-item1 bill_content">Restaurant Charges:</p>
        <p class="flex-item2 bill_content amountSuffix">{{products.restaurantsCharge}}</p>
      </div>
      <!-- <div class="flex bill_section">
        <p class="flex-item1 bill_content total_amount">Total Amount:</p>
        <p class="flex-item2 bill_content total_amount amountSuffix">100.55</p>
      </div> -->
    </div>
  </p-card>
  <p-card>
    <div class="flex bill_section">
      <p class="flex-item1 bill_content total_amount">Total Amount:</p>
      <p class="flex-item2 bill_content total_amount amountSuffix">{{products.totelAmount}}</p>
    </div>
  </p-card>

  <p-card [style]="{'background-color': 'white'}">
    <div class="invoiceHeading">
       <div class="qrImg">  <img style="height: 20vh; width:50vw; border-style: dotted;" src="../.../../../../assets/qrimg.png" alt="QR NOT GENERATED"></div>
    </div>
  </p-card>

</div>

<div class="footer-grid">
  <div class="footer">
    <button pButton pRipple label="Create" (click)="generatePDF()" class="p-button-success"></button>
  </div>
</div>
